<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="chatVisit">

	<select id="selectVist" resultType="int">
		select count(*) from chat_visit
		where member_id = #{memberId} and room_no = #{roomNo} 
	</select>
	
	<insert id="insertVisit">
		insert into chat_visit(member_id, room_no)
		values(#{memberId}, #{roomNo})
	</insert>
	
</mapper>