<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="ground">
   
	<!-- 시퀀스 생성 -->
	<select id="sequence" resultType="int">
	   select ground_no_seq.nextval from dual
	</select>
	
	<resultMap type="GroundVO" id="GroundwithScheduleMap">
		<association property="groundDto" javaType="GroundDto">
			<id column="ground_no" property="groundNo"/>
			<result column="ground_no" property="groundNo"/>
			<result column="ground_name" property="groundName"/>
			<result column="ground_addr" property="groundAddr"/>
			<result column="ground_basic_addr" property="groundBasicAddr"/>
			<result column="ground_detail_addr" property="groundDetailAddr"/>
			<result column="ground_shower" property="groundShower"/>
			<result column="ground_park" property="groundPark"/>
			<result column="ground_size" property="groundSize"/>
			<result column="ground_price" property="groundPrice"/>
		</association>
		<association property="scheduleDto" javaType="ScheduleDto">
			<id column="schedule_no" property="scheduleNo"/>
			<result column="schedule_ground_no" property="groundNo"/>
			<result column="schedule_start" property="scheduleStart"/>
			<result column="schedule_end" property="scheduleEnd"/>
		</association>
	</resultMap>
	
	<!-- 목록 -->
	<select id="list" resultType="GroundDto">
		select * from ground
	</select>
   
	<!-- 상세 -->
	<select id="detail" resultType="GroundDto">
		select * from ground where ground_no = #{groundNo}
	</select>
	
	<!-- SQL 구문 조각 생성 -->
	<sql id="topNheader">
		select * from (
			select rownum rn, TMP.* from (
	</sql>
	<sql id="topNfooter">
			)TMP
		) where rn between #{begin} and #{end}
	</sql>
	
	<!-- 무한스크롤 페이징 목록 -->
	<select id="infinite" resultType="GroundDto">
		<include refid="topNheader"/>
			select * from ground order by ground_no asc
		<include refid="topNfooter"/>
	</select>

	<!-- 검색 -->
	<select id="check" resultType="GroundDto">
		select * from ground where instr(ground_basic_addr, #{term})>0 or instr(ground_detail_addr, #{term})>0
		or instr(ground_name, #{term})>0
	</select>

	<!-- 전체구장 결제 순위 :박지은 -->
	<select id="selectRank" resultType="StatsViewDto">
		select * from GroundPaymentView
	</select>
	
	<!-- 구장 등록 -->
	<insert id="insert" parameterType="GroundVO">
	    insert into ground(
	        ground_no, ground_name, ground_addr, 
	        ground_basic_addr, ground_detail_addr,
	        ground_shower, ground_park, ground_size, ground_price,
	    )
	    values(
	        #{groundDto.groundNo},
	        #{groundDto.groundName},
	        #{groundDto.groundAddr},
	        #{groundDto.groundBasicAddr},
	        #{groundDto.groundDetailAddr},
	        #{groundDto.groundShower},
	        #{groundDto.groundPark},
	        #{groundDto.groundSize},
	        #{groundDto.groundPrice},
	    )
	</insert>
	
	<insert id="insert2">
	    insert into ground(
	        ground_no, ground_name, ground_addr, 
	        ground_basic_addr, ground_detail_addr,
	        ground_shower, ground_park, ground_size, ground_price
	    )
	    values(
	        #{groundNo},
	        #{groundName},
	        #{groundAddr},
	        #{groundBasicAddr},
	        #{groundDetailAddr},
	        #{groundShower},
	        #{groundPark},
	        #{groundSize},
	        #{groundPrice}
	    )
	</insert>
	
	<!-- 구장 삭제 -->
	<delete id="delete">
		delete ground where ground_no = #{groundNo}
	</delete>
	
	<!-- 구장 수정 -->
	<update id="edit">
		update ground set 
			ground_basic_addr = #{groundBasicAddr}, 
			ground_detail_addr = #{groundDetailAddr}, 
			ground_shower = #{groundShower},
			ground_park = #{groundPark},
			ground_size = #{groundSize},
			ground_name = #{groundName},
			ground_price = #{groundPrice},
			ground_addr = #{groundAddr} 
			where ground_no = #{groundNo}
	</update>
	
	<!-- 관리자 구장 목록 -->
	<select id="adminList" resultType="GroundDto">
		<if test="search">
			SELECT * FROM (
				SELECT rownum rn, TMP.* FROM (
					SELECT * FROM ground
					WHERE instr(${column}, #{keyword}) > 0
					order by ground_no asc
				) TMP
			) WHERE rn BETWEEN #{begin} AND #{end}
		</if>
		<if test="!search">
			SELECT * FROM (
				SELECT rownum rn, TMP.* FROM (
					SELECT * FROM ground
				) TMP
			) WHERE rn BETWEEN #{begin} AND #{end}
		</if>
	</select>
	
	<!-- 페이징 적용된 조회 및 카운트 -->
	<select id="countSearch" resultType="int">
		SELECT COUNT(*)
        FROM ground
        <if test="search">
        	WHERE instr(${column}, #{keyword}) > 0
        </if>
    </select>
	
	
	<!-- 구장 리스트 + 팀 리스트 -->
	<!-- 구장 DTO 클래스 -->
	<resultMap type="GroundDto" id="GroundResultMap">
	    <id column="ground_no" property="groundNo"/>
	    <result column="ground_name" property="groundName"/>
	    <result column="ground_addr" property="groundAddr"/>
	    <result column="ground_basic_addr" property="groundBasicAddr"/>
	    <result column="ground_detail_addr" property="groundDetailAddr"/>
	    <result column="ground_shower" property="groundShower"/>
	    <result column="ground_park" property="groundPark"/>
	    <result column="ground_size" property="groundSize"/>
	    <result column="ground_price" property="groundPrice"/>
	</resultMap>

	<!-- 팀 DTO 클래스 -->
	<resultMap type="TeamDto" id="TeamResultMap">
	    <id column="team_no" property="teamNo"/>
	    <result column="team_name" property="teamName"/>
	    <result column="team_day" property="teamDay"/>
	    <result column="team_city" property="teamCity"/>
	    <result column="team_location" property="teamLocation"/>
	    <result column="team_gender" property="teamGender"/>
	    <result column="team_age" property="teamAge"/>
	</resultMap>
	
	<!-- 통합 검색 결과 맵핑 -->
	<resultMap type="SearchVO" id="SearchMap">
	    <association property="groundDto" resultMap="GroundResultMap"/>
	    <association property="teamDto" resultMap="TeamResultMap"/>
	</resultMap>
	
	<select id="totalSearch" resultMap="SearchMap">
	    SELECT ground_no, 
	    ground_name, 
	    ground_basic_addr, 
	    ground_detail_addr, 
	    ground_addr, 
	    'ground' AS type, 
	    null as team_no, 
	    NULL AS team_name, 
	    null as team_day, 
	    null as team_time,
	    null as team_city, 
	    null as team_location, 
	    null as team_gender, 
	    null as team_age
	FROM ground
	WHERE instr(ground_name, #{keyword}) > 0
	    OR instr(ground_addr, #{keyword}) > 0
	    OR instr(ground_basic_addr, #{keyword}) > 0
	    OR instr(ground_detail_addr, #{keyword}) > 0
	UNION ALL
	SELECT null, null, null, null, null, 
	    'team' AS type, 
	    team_no, 
	    team_name, 
	    team_day, 
	    team_time,
	    team_city, 
	    team_location, 
	    team_gender, 
	    team_age
	FROM team
	WHERE instr(team_name, #{keyword}) > 0
	    OR instr(team_day, #{keyword}) > 0
	    OR instr(team_city, #{keyword}) > 0
	    OR instr(team_location, #{keyword}) > 0
	    OR instr(team_gender, #{keyword}) > 0
	    OR instr(team_age, #{keyword}) > 0
	</select>

</mapper>