<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="match">

	<select id="getSequence" resultType="int">
		select match_seq.nextval from dual
	</select>
	
	<insert id="add" parameterType="MatchDto">
		insert into match (match_no, match_city,
                   match_location, match_date, match_time,
                   match_age, match_size, match_status, team_no,
                   opposing_no, match_board_no) values
                   (#{matchNo}, #{matchCity},
                   #{matchLocation}, #{matchDate}, #{matchTime},
                   #{matchAge}, #{matchSize}, '모집중', #{teamNo}, null, #{matchBoardNo})
	</insert>
	
	<update id="update" parameterType="MatchDto">
		update match set match_city = #{matchCity}, 
		match_location = #{matchLocation}, 
		match_date = #{matchDate}, 
		match_time = #{matchTime},
		match_age = #{matchAge}, 
		match_size = #{matchSize},
		team_no = #{teamNo},
		where match_no = #{matchNo}
	</update>
	
	<update id="statusComplete">
		update match set match_status = '모집마감', opposing_no = #{opposingNo}
		where match_board_no = #{matchBoardNo}
	</update>
	
	<update id="statusEnd">
		update match set match_status = '경기종료'
		where match_no = #{matchNo}
	</update>
	
	<delete id="remove" parameterType="int">
		delete match where match_no = #{matchNo}
	</delete>
	
	<select id="selectList" resultType="MatchDto">
		select * from match
	</select>
	
	<select id="selectOne" resultType="MatchDto">
		select * from match where match_no = #{matchNo}
	</select>
	
	<select id="selectByMatchBoardNo" resultType="MatchDto">
		select * from match where match_board_no = #{matchBoardNo}
	</select>
	
	<select id="selectByDate" resultType="MatchDto">
		select * from match
		where 
		<![CDATA[
			match_date >#{matchDate} and match_date < #{matchDate} + 1
		]]>
	</select>
	
	<select id="selectListWtihVO" resultType="MatchVO">
		select M.*, B.match_board_title, H.team_name home_name, A.team_name away_name
		from match M
		inner join match_board B on M.match_board_no = B.match_board_no
		inner join team H on M.team_no = H.team_no
		inner join team A on M.opposing_no = A.team_no
		order by M.match_no
	</select>
	
	<select id="selectOneWithVO" resultType="MatchVO">
		select M.*, B.match_board_title, H.team_name home_name, A.team_name away_name
		from match M
		inner join match_board B on M.match_board_no = B.match_board_no
		inner join team H on M.team_no = H.team_no
		inner join team A on M.opposing_no = A.team_no
		where M.match_no = #{matchNo}
		order by M.match_no
	</select>
	
	<select id="selectByMatchBoardNoWithVO" resultType="MatchVO">
		select M.*, B.match_board_title, H.team_name home_name, A.team_name away_name
		from match M
		join match_board B on M.match_board_no = B.match_board_no
		left outer join team H on M.team_no = H.team_no
		left outer join team A on M.opposing_no = A.team_no
		where M.match_board_no = #{matchBoardNo}
		order by M.match_no
	</select>
	
	<select id="selectByDateWithVO" resultType="MatchVO">
		select M.*, B.match_board_title, H.team_name home_name, A.team_name away_name
		from match M
		inner join match_board B on M.match_board_no = B.match_board_no
		inner join team H on M.team_no = H.team_no
		inner join team A on M.opposing_no = A.team_no
		where
		<![CDATA[
			M.match_date >#{matchDate} and M.match_date < #{matchDate} + 1
		]]>
		order by M.match_no
	</select>
	
	<select id="search" resultType="MatchDto">
		select * from match 
		where instr(${column}, #{keyword}) > 0
		order by ${column} asc
	</select>
	
	<select id="teamNo" resultType="int">
		select team_no from team_member where member_id= #{memberId}
	</select>
	
	<select id="matchBoardNo" resultType="MatchDto">
		select * from match where match_board_no = #{matchBoardNo}
	</select>
	
</mapper>