@charset "UTF-8";

.chat-icon{
  margin-bottom : 1.5em;
  margin-right : 1.5em;
  cursor : pointer;
}
.chat-container{
  width : 400px;
  margin-bottom : 1.5em;
  margin-right : 1.5em;
  padding : 2em;
}
.chat-header{
  font-size : 1.75em;
  font-weight : bold;
  margin-bottom: 1em;
}
.chat-body{
	width : 400px;
	height : 400px;
	overflow-y : auto;
}
.close-btn, .send-btn, .backward-btn{
  	cursor : pointer;
}
.close-btn:hover, .send-btn:hover, .backward-btn:hover{
  	filter : brightness(200%);
}

.content-header{
	font-size : 1.25em;
	font-weight : bold;
}
.content-wrapper-other {
	position: relative;
	background: #e1edf5;
	border-radius: .4em;
	width: 180px;
}
.content-wrapper-other:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 22px solid transparent;
	border-right-color: #e1edf5;
	border-left: 0;
	border-bottom: 0;
	margin-top: -11px;
	margin-left: -22px;
}

.content-wrapper-mine {
	position: relative;
	background: #cce2ff;
	border-radius: .4em;
	width: 180px;
	margin-left : auto;
}
.content-wrapper-mine:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 22px solid transparent;
	border-left-color: #cce2ff;
	border-right: 0;
	border-bottom: 0;
	margin-top: -11px;
	margin-right: -22px;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity 0.25s ease;
}
.fade-enter-from, .fade-leave-to {
	opacity: 0;
}
.w-90{
	width:90%;
}